@import "src/media-breakpoint-variables";

.main-posts-field {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    @media screen and (max-width: $lg){
        margin-top: 2rem;
    }
    @media screen and (min-width: $lg + 1){
        width: 80%;
        align-self: center;
        position: relative;
        top: -7rem;
    }
}
