@import "../../../media-breakpoint-variables";

.app-header {
    background-color: #89ff64;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 4rem;
    @media screen and (max-width: $lg){
        grid-column-end: 2;
    }
    @media screen and (min-width: $lg + 1){
        grid-column-start: 2;
        grid-column-end: 3;
        //position: sticky;
        //top: 0;
    }
    .inner-container {
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        @media screen and (max-width: $lg){
            justify-content: center;
        }
        a {
            display: inline-block;
            background-image: url('https://image.flaticon.com/icons/png/512/1151/1151960.png');
            width: 45px;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
