.paginationArea {
    margin-right: 1rem;
    padding-bottom: 2rem;

    .pagesArea {
        display: flex;
        justify-content: center;

        .pageInstanceArea {
            background-color: #ececec;
            margin: 0.5rem;

            .pageLink {
                text-decoration: none;
                padding: 1rem 1.5rem;
                font-size: 1rem;
                font-weight: bold;
                display: block;
                color: #2e4246;
            }

            .pageSelectedLink {
                color: #ffffff;
            }
        }

        .pageInstanceAreaSelected {
            background-color: #81e764;
            border-radius: 0 25px;
        }
    }
}
