@import "src/media-breakpoint-variables";

.main-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $lg){
        width: 100%;
        padding: 1.5rem;
    }
    @media screen and (min-width: $md) and (max-width: $lg){
        padding: 1.5rem 3rem;
    }
}
