@import "src/media-breakpoint-variables";

.innerContainer {
    min-height: calc(100vh - 5rem);
    @media screen and (max-width: $md - 1) {
        height: auto;
    }
    @media screen and (min-width: $md) and (max-width: $lg - 1) {
        height: calc(100vh - 8.125rem);
    }
}