@import "src/media-breakpoint-variables";

.main-profile-info {
    margin: 1rem 0 0 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
    @media screen and (max-width: $lg) {
        top: -2rem;
        margin: 0;
        flex-direction: column;
    }
    @media screen and (min-width: $lg + 1) {
        margin: 2rem;
        padding-bottom: 3rem;
        border-bottom: 5px dotted #89ff64;
        top: -7rem;
    }

    .profile-avatar {
        display: flex;
        @media screen and (max-width: $lg) {
            justify-content: center;
        }

        img {
            width: 10rem;
            height: 10rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            @media screen and (max-width: $lg) {
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
            }
        }
    }

    .profile-info {
        margin: 1rem 0 0 2rem;
        @media screen and (max-width: $lg) {
            margin: 1rem 0 0;
        }

        .profile-info-data {
            display: flex;
            flex-direction: column;

            li {
                font-size: 1.3rem;
                margin: 0.5rem 0;

                &:nth-child(1) {
                    font-size: 2rem;
                    @media screen and (max-width: $lg) {
                        margin-top: 0;
                        margin-bottom: 2rem;
                        align-self: center;
                    }
                    @media screen and (min-width: $lg + 1) {
                        margin-bottom: 2rem;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
