@import "src/media-breakpoint-variables";
@import "src/custom-scrollbar";

.innerContainer {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 5rem);
    padding: 0;
    @media screen and (max-width: $md - 1) {
        height: auto;
    }
    @media screen and (min-width: $md) and (max-width: $lg) {
        height: calc(100vh - 8.125rem);
        padding: 1rem 0 0 1.5rem;
    }
}