$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.app-wrapper {
  display: grid;
  grid-gap: 1rem;
  @media screen and (max-width: $sm){
    width: 100%;
    grid-gap: 0.5rem;
  }

  //grid-template-columns: 200px auto;
  //width: 1200px;
  //margin: 2rem auto;
}

.inner-container {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}