@import "media-breakpoint-variables";

.app-wrapper {
  display: grid;
  grid-gap: 1rem;
  @media screen and (max-width: $lg){
    width: 100%;
    grid-gap: 0.5rem;
  }
  @media screen and (min-width: $xxl) and (max-width: $xxxl - 1){
    width: 1500px;
    margin: 0 auto;
  }
  @media screen and (min-width: $xxxl){
    width: 1800px;
    margin: 0 auto;
  }
  @media screen and (min-width: $xxxxl){
    width: 2000px;
    margin: 0 auto;
  }
}
