@import "media-breakpoint-variables";

.app-wrapper {
  display: grid;
  grid-gap: 1rem;
  @media screen and (max-width: $lg){
    width: 100%;
    grid-gap: 0.5rem;
  }

  //grid-template-columns: 200px auto;
  //width: 1200px;
  //margin: 2rem auto;
}
