@import "src/media-breakpoint-variables";
@import "src/custom-scrollbar";

.chatField {
    width: 75%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $md - 1) {
        height: calc(100vh - 8.125rem);
        width: 100%;
        padding-bottom: 0.5rem;
    }
}
